<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title> Welcome</title>
        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
        <script src="{% static 'scripts/jquery.js' %}" type = "text/javascript"></script>
        <script src="{% static 'scripts/jquery-ui.js' %}" type = "text/javascript"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" ntegrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/main.css' %}" id = "tema">
        <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href='{%url "ModelTraining:Home"%}'>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='{%url "ModelTraining:Signup" %}'>Add Activity</a>
                    </li>
                    <li>
                        <a class = "nav-link" href='{%url "ModelTraining:Login" %}'> Activity List</a>
                    </li>
                        <a class = "nav-link"  href='{%url "ModelTraining:Books"%}'> Bookfinding</a>
                </ul>
            </div>
        </nav>

        <div class = "content-section"></div>
            <form method = "POST">
                {% csrf_token %}
                <fieldset class = "form-group">
                    <legend class = "border-bottom mb-4"> Register</legend>
                    {{form.as_p}}
                    <div class = "form-group">
                        <button class = "btn btn-outline-info" type = "submit">Sign Up</button>
                    </div>
                    <div class = "border-top pt-3">
                        <small class="text-muted">
                            Already Have an Account? <a class = "ml-2" href ='{%url "login" %}'>click here.</a> 
                        </small>
                    </div>
                </fieldset>
            </form>
    </body> 
</html>