<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title> Welcome</title>
        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
        <script src="{% static 'scripts/jquery.js' %}" type = "text/javascript"></script>
        <script src="{% static 'scripts/jquery-ui.js' %}" type = "text/javascript"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" ntegrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/main.css' %}" id = "tema">
        <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href='{%url "ModelTraining:Home"%}'>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='{%url "ModelTraining:Signup" %}'>Add Activity</a>
                    </li>
                    <li>
                        <a class = "nav-link" href='{%url "ModelTraining:Login" %}'> Activity List</a>
                    </li>
                        <a class = "nav-link"  href='{%url "ModelTraining:Books"%}'> Bookfinding</a>
                        {% if user.is_authenticated %}
                        <li>
                            <a class = "nav-link"  href='{%url "logout"%}'> Logout</a>
                        </li>
                        {% else %}
                        <li>
                            <a class = "nav-link"  href ='{%url "login" %}'> Login</a>
                        </li>
                        {% endif %}
                </ul>
            </div>
        </nav>

     <h2> You've been logged out.</h2>
     <div class = "border-top pt-3">
        <small class="text-muted">
         <a class = "ml-2" href ='{%url "login" %}'>Log in</a> 
        </small>
    </div>
    </body> 
</html>