{% load static %}
<html>
<head>
    <script src="{% static 'scripts/jquery.js' %}" type = "text/javascript"></script>
    <script src="{% static 'scripts/jquery-ui.js' %}" type = "text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" ntegrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/book.css' %}" id = "tema">
    <script src="{% static 'scripts/books.js' %}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href='{%url "ModelTraining:Home"%}'>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='{%url "ModelTraining:Signup" %}'>Add Activity</a>
                    </li>
                    <li>
                        <a class = "nav-link" href='{%url "ModelTraining:Login" %}'> Activity List</a>
                    </li>
                    <li>
                        <a class = "nav-link"  href='{%url "ModelTraining:Books"%}'> Bookfinding</a>
                    </li>
                    <li>
                        <a class = "nav-link"> Blog</a>
                    </li>
                
                {% if user.is_authenticated %}
                    <li>
                        <a class = "nav-link"  href='{%url "logout"%}'> Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a class = "nav-link"  href ='{%url "login" %}'> Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
<h2>Pengalaman saya</h3>
<h5>Load balancer pertama saya dibuat dengan <b> nginx.</b> Saya baca banyak hal tentang nginx dan cara menginstall nya. Ternyata cukup mudah cara menginstall nginx, cukup mendownload dan mengekstrak, lalu run nginx.exe.</h5>
<h5>
    Saya membuat configuration file saya sendiri yang saya include di nginx.conf.
    Pertama tama saya bingung cara mengecek apakah nginx sudah jalan atau belum. Saya run nginx dan membuka localhost, dan sudah ada
    halaman konfirmasi nginx yang menandakan dia telah di run. Namun saya tidak tahu cara mengecek apakah aplikasi django saya sudah menggunakan nya.
</h5>
<h5>
    Setelah membaca baca lagi tentang nginx.exe, dan bertanya teman teman, saya mempunyai rencana untuk mengetest nginx saya. Jika nginx.exe telah berjalan dengan konfigurasi yang saya tetapkan,
    maka harusnya sudah ada load balancing basic yang terjadi. Dengan load balancing tersebut, jika saya nyalakan aplikasi saya di 2 port yang berbeda, dan mematikan 1 port, maka harusnya secara automatis akan di realokasikan ke port yang masih berjalan.
    Untuk mengetest ini, saya run aplikasi django saya. Lalu, saya membuka cmd baru dan me run aplikasi yang sama di port yang berbeda. Saat saya mematikan cmd pertama dan memasukan alamat localhost, aplikasi saya masih berjalan. Ini berarti aplikasi saya di realokasikan ke port yang masih saya jalankan dan menandakan load balancing saya bekerja.
</h5>