{% load static %}
<html>
<head>
    <script src="{% static 'scripts/jquery.js' %}" type = "text/javascript"></script>
    <script src="{% static 'scripts/jquery-ui.js' %}" type = "text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" ntegrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/book.css' %}" id = "tema">
    <script src="{% static 'scripts/books.js' %}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href='{%url "ModelTraining:Home"%}'>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='{%url "ModelTraining:Signup" %}'>Add Activity</a>
                    </li>
                    <li>
                        <a class = "nav-link" href='{%url "ModelTraining:Login" %}'> Activity List</a>
                    </li>
                    <li>
                        <a class = "nav-link"> Bookfinding</a>
                    </li>
                    <li>
                        <a class = "nav-link" href='{%url "ModelTraining:Blog"%}'> Blog</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a class = "nav-link"  href='{%url "logout"%}'> Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a class = "nav-link"  href ='{%url "login" %}'> Login</a>
                    </li>
                    {% endif %}
                </ul>
        </div>
    </nav>
    <h2> Bookfinder</h2>
    <div class='searchbar' style="width: 20rem;">
        <div class="input-group mb-3">

            <input type="text" class="form-control" id="search-query" placeholder="Search book tile or keywords">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="submit" onclick="getQuery()" id="button-addon1">Search</button>
            </div>
        </div>
    </div>
    <div class="shelf" style="margin: auto;height: 100%;width: 100%;">
        <table id="book" class="table table-hover table-responsive table-da rk" style="margin: auto;">
            <thread>
                <tr>
                    <th scope="col">Cover</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Publisher</th>
                </tr>
            </thread>
        </table>
    </div>
</body>
</html>
