<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title> Welcome</title>
        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
        <script src="{% static 'scripts/jquery.js' %}" type = "text/javascript"></script>
        <script src="{% static 'scripts/jquery-ui.js' %}" type = "text/javascript"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" ntegrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/main.css' %}" id = "tema">
        <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='{%url "ModelTraining:Signup" %}'>Add Activity</a>
                    </li>
                    <li>
                        <a class = "nav-link" href='{%url "ModelTraining:Login" %}'> Activity List</a>
                    </li>
                    <li>
                        <a class = "nav-link"  href='{%url "ModelTraining:Books"%}'> Bookfinding</a>
                    </li>
                    <li>
                        <a class = "nav-link" href='{%url "ModelTraining:Blog"%}'> Blog</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a class = "nav-link"  href='{%url "logout"%}'> Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a class = "nav-link"  href ='{%url "login" %}'> Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class = "regulator">
            <div id = "panels">
                <h3>Activities</h3>
                <div>
                    <p> - Doing normal things a computer science major would do<br/>
                        - Participating in social endeavours<br/>
                        - Doing a variety of hobbies</p>
                </div>

                <h3>Organizational/Commitee experiences</h3>
                <p> -Staff of Computers Get Together 2018, Equipment division<br/>
                    -Staff of COMPFEST 2018, Editorial Marketing division <br/>
                    -VPIC of COMPFEST 2019's Editorial Marketing division <br/></p>
                <h3> Achievements</h3>
                <p> None.</p>
            </div>
        </div>
        <button id = "theme_changer"> Theme Change</button>
        <div class = "greeting" align = "center">
        {% if request.user.is_authenticated %}
        <h2 class = "display-4 text-dark"> Hello, {{ request.user }} </h2>
        {% else %}
        <h2 class = "display-4 text-dark"> You are not logged in.</h2>
        {% endif %}
        </div>
    </body> 
    <script>
        $("#panels").accordion({
            collapsible:true,
            event:"click",
        });
        $('#theme_changer').click(function (){
            // console.log("test");
            // var csshref = $("body").css("background-image");
            // if(csshref == "url('static/images/Paris.jpg')"){ 
            //     $("body").css("background-image", "url('static/css/static/images/darkmode.jpg')");
            // }
            // else{
            //     $("body").css("background-image" , "url('static/css/static/images/Paris.jpg')");
            // }

            var csshref = $("#tema").attr('href');
            if(csshref == "{% static 'css/main.css' %}" ){
                $("#tema").attr('href',"{% static 'css/dark.css' %}" );
            }
            else if(csshref == "{% static 'css/dark.css' %}") {
                $("#tema").attr('href',"{% static 'css/main.css' %}" );
            }
        });
    </script>
</html>