body{
    background-image:url('static/images/Paris.jpg');
    background-color:grey;
    background-blend-mode: lighten;
    background-size:cover;
    background-attachment: fixed;
    background-position:center center;
}