body{
    transition: opacity .5s;
    margin-top:0px;
    background-image:url('static/images/Paris.jpg');
    background-size:cover;
    background-attachment: fixed;
    background-position:center center;
}

#headmenu{
    top:0;
    left:85%;
    position:absolute;
    overflow: hidden;
    margin-top:0px;
}
#headmenu button{
    display: inline-block;
    border:2px solid darkblue;
    text-align:center;
    padding:5px;
    width:150px;
}
.headitem{
    display: inline-block;
    background:inherit;
    margin-top:10px;
    padding: 0px 0px 0px 30px;
    font-family:'Muli';
    font-size:27px;
    color:floralwhite;
    transition: background-color .3s;
}
.headitem:hover{
    background-color:darkblue;
    color:orange;
        
}
.regulator{
    
    width:25%;
}